*{
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 1em 2em;
  background-image: url("assets/worldmap.png");
  background-size: cover;
}

.bla{
    background-color: lightblue;
    width: 100%;
    height: 15%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 0;
}

.cont {
  height: 80%;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

h1 {
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #32cd32;
}

h2 {
  margin-top: 0;
  font-weight: 600;
  font-size: 0.75rem;
  color: #ffffff;
}

input[type="text"] {
  font-family: "Open Sans", sans-serif;
  background-color: #eff0f4;
  width: 80%;
  margin-left: 10px;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .flag {
  border: 2px solid #2fbe2f;
}

.parrot-img {
  width: auto;
  height: 5em;
}

.header-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 300px;
}

.flag {
  height: auto;
  width: 35px;
  border: 1px solid #999999;
  cursor: pointer;
}

.language-selection {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 400px;
}

.input {
  bottom: 50px;
  width: 400px;
  margin: 10px auto;
  padding: 0;
}

.text {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #eff0f4;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.icon {
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: #2fbe2f;
}

.sender-msg,
.reciever-msg {
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.reciever-msg {
  position: relative;
  background-color: #035a9d;
  color: #ffffff;
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
  max-width: 80%;
  margin: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reciever-msg::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #035a9d;
  left: -5px;
  top: 0px;
}

.sender-msg {
  position: relative;
  background-color: #2fbe2f;
  color: #ffffff;
  border-radius: 10px 0 10px 10px;
  align-self: flex-end;
  max-width: 80%;
  margin: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sender-msg::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2fbe2f;
  right: -5px;
  top: 0px;
}

.container {
  right: 5px;
  padding: 0 10px;
  overflow-y: auto;
  height: 84%;
  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 10px;
  background-color: #eff0f4;
}

@media only screen and (max-width: 450px) {
 .input, .language-selection{
    width: 80%;
  }
}
